
.restaurant-card {
    display:flex;
    flex-direction: column;
    border-radius: 20px;
    width:100%;
    box-shadow: 0 0 6px 3px #b1b1b14b;
    margin-bottom: 20px;
}

footer {
    background-color: darkgray;
}