body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  display: block;
  background-color: #f6f6f6;
}

a {
  text-decoration: none;
  color: black;
}

a :hover {
  color: black;
}

a :visited {
  color: black;
}

p {
  margin: 0;
}

.btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border: none;
  text-align: center;
  width: 30%;
  padding: 15px 0px;
  cursor: pointer;
  border-radius: 30px;
  font-size: 16px;
  text-decoration: none;
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

h1, .titre-restaurant {
  font-family: 'Shrikhand', sans-serif;
  font-size: 30px;
  left: 10px;
  width: 100%;
}

h2 {
  font-size: 26px;
}

h3 {
  margin-bottom: 10px;
  margin-top: 0;
}

.logo-footer {
  font-family: 'Shrikhand', sans-serif;
  font-size: 30px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
}

@media only screen and (max-width: 767px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0 5px 15px 0 #c3c3c3;
            box-shadow: 0 5px 15px 0 #c3c3c3;
  }
}

header .logo {
  margin-top: 0;
  font-weight: 300;
  /* border-bottom: 2px solid #f4f4f4; */
}

@media only screen and (max-width: 767px) {
  header .logo {
    width: 100%;
    text-align: center;
    -webkit-box-shadow: 0 1px 4px #1f1d1d;
            box-shadow: 0 1px 4px #1f1d1d;
  }
}

.city-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  width: 50%;
  margin: auto;
  text-align: center;
  background-color: #eaeaea;
  border-radius: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 767px) {
  .city-search {
    width: 100%;
    border-radius: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

input[type=text] {
  background-color: transparent;
  border: none;
  height: 100%;
  padding: 0px 12px;
  font-size: 18px;
  margin: auto;
  border-radius: 20px;
  width: 70%;
}

input[type=text]:focus {
  outline: none;
}

@media only screen and (max-width: 767px) {
  input[type=text] {
    padding: 10px;
    text-align: center;
  }
}

.index-header {
  padding: 30px 10px;
  background: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.index-header p {
  margin-top: 10px;
  margin-bottom: 40px;
  font-weight: 300;
  padding: 0 15px;
  font-size: 18px;
}

.index-header H2 {
  margin: 0 20px;
  font-size: 30px;
}

.working {
  padding-left: 20px;
  background-color: white;
}

.number {
  color: #ffffff;
  background-color: #9356dc;
  padding: 05px 10px;
  border-radius: 30px;
  margin-left: -20px;
}

.choice-restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33%;
  margin: 20px;
  border-radius: 20px;
  cursor: pointer;
  background: #f6f6f6;
  height: 60px;
  -webkit-box-shadow: 0 5px 15px 0 #c3c3c3;
          box-shadow: 0 5px 15px 0 #c3c3c3;
}

.choice-restaurant:hover {
  background: #f5edff;
}

.choice-restaurant:hover .fas {
  color: #9356dc;
}

@media only screen and (max-width: 767px) {
  .choice-restaurant {
    width: 90%;
  }
}

.choice-restaurant .fas {
  margin-left: 20px;
  margin-right: 20px;
  color: grey;
}

.steps-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 20px 0;
}

@media only screen and (max-width: 767px) {
  .steps-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 20px;
  padding-bottom: 20px;
  background-color: #f6f6f6;
}

.restaurants-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 767px) {
  .restaurants-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

.restaurant-card {
  position: relative;
  background: white;
  width: 25%;
  margin: 5px;
  border-radius: 20px;
  -webkit-box-shadow: 0 5px 15px 0 #c3c3c3;
          box-shadow: 0 5px 15px 0 #c3c3c3;
}

.restaurant-card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 20px 20px 0 0;
  height: 170px;
}

@media only screen and (max-width: 767px) {
  .restaurant-card {
    width: 90%;
    margin-top: 20px;
  }
}

.restaurant-card-info {
  position: relative;
  left: 5px;
  padding: 10px;
}

.restaurant-card-info p {
  font-weight: 200;
  margin-top: 0;
}

.restaurant-card-info .fa-heart, .restaurant-card-info #full-heart {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 40px;
}

.restaurant-card-info #full-heart {
  color: red;
}

.new {
  position: absolute;
  color: #008766;
  background-color: #99e2d0;
  top: 0;
  right: 20px;
  padding: 10px 15px;
}

@media only screen and (max-width: 767px) {
  .btn {
    width: 70%;
  }
}

.menu-card {
  background: #fff;
  -webkit-box-shadow: 0 5px 15px 0 #c3c3c3;
          box-shadow: 0 5px 15px 0 #c3c3c3;
  border-radius: 20px;
}

.title-menu {
  text-transform: uppercase;
  font-size: 24px;
  position: relative;
}

.title-menu:after {
  content: "";
  width: 3rem;
  height: .25rem;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  margin-top: 40px;
}

@media only screen and (max-width: 767px) {
  .title-menu {
    left: 10px;
    margin-bottom: 20px;
    font-size: 20px;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 20px 20px 0 0;
}

.menu .btn {
  margin: 50px auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 767px) {
  .menu {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
    padding: 0;
    border-radius: 20px 20px 0 0;
  }
}

.menu-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 33%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 767px) {
  .menu-content {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.menu-card {
  width: 100%;
  margin: 20px 10px;
  padding: 10px;
}

@media only screen and (max-width: 767px) {
  .menu-card {
    margin: 10px;
  }
}

.photo-menu {
  padding-top: 0px;
  padding-bottom: 0px;
}

.photo-menu img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.menu-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 94%;
}

.menu-price {
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  background-color: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #FFFFFF;
  padding: 30px;
  text-align: center;
}

footer ul {
  list-style-type: none;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  footer ul {
    text-align: left;
    padding-left: 0;
  }
}

footer a {
  text-decoration: none;
  color: white;
  text-align: center;
}

footer a:hover {
  color: #9356DC;
}

@media only screen and (max-width: 767px) {
  footer a {
    text-align: left;
  }
}

footer li {
  padding-top: 10px;
}

footer .fas, footer .far {
  margin-right: 15px;
}
/*# sourceMappingURL=main.css.map */