.steps-list {
    display:flex;
    align-items: flex-start;
    flex-wrap: nowrap;

    @media only screen and (max-width: 767px) {
        flex-direction: column;
    }

}


.choice-restaurant {
    display:flex;
    width: 33%;
    border: 2px #d9d9d9 solid;
    margin-right: 20px;
    border-radius: 30px;
    align-items: center;
    cursor: pointer;
    background: $fond;

    &:hover {
        transition: 0.5s;
        background: #f5edff ;
        border: none;
        border: 2px solid;
    }

}

.restaurants-list {
    display:flex;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.restaurants{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-bottom: 20px;
    background-color: $fond; 
}

.restaurant-card {
    background: white;
    width: 20%;
    margin: 5px;

    img {
        object-fit: cover;
        width: 100%;
        border-radius: 20px 20px 0 0 ;
        height: 170px ;
    }

    
}