.working {
    padding-left: 20px;
    
}
.number {
    color: #ffffff;
    background-color: #9356dc;
    padding: 05px 10px;
    border-radius: 30px;
    margin-left: -20px;

}


.choice-restaurant {
    display:flex;
    justify-content:flex-start;  
    align-items: center;
  width: 33%;
    margin: 20px;
    border-radius: 30px;
    
    cursor: pointer;
    background: $fond;

    &:hover {
        background: #f5edff ;
    }

    @media only screen and (max-width: 767px) {
        width: 90%;
    }

}



.steps-list {
    display:flex;
    align-items: center;
    flex-wrap: nowrap;
    margin: 20px 0;

    @media only screen and (max-width: 767px) {
        flex-direction: column;

    }

}

.restaurants{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-bottom: 20px;
    background-color: $fond; 
}

.restaurants-list {
    display:flex;
    align-items: center;

    @media only screen and (max-width: 767px) {
        flex-direction: column;
    }
}


.restaurant-card {
    background: white;
    width: 25%;
    margin: 5px;

    img {
        object-fit: cover;
        width: 100%;
        border-radius: 20px 20px 0 0 ;
        height: 170px ;
    }

    @media only screen and (max-width: 767px) {
        width: 90%;
    }
    
}