header {
    display: flex;
    background-color: white;
   
    @media only screen and (max-width: 767px) {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        @include shadow;
    }
   
    .logo {
        margin-top: 0;
        font-weight: 300;

        @media only screen and (max-width: 767px) {
            width: 100%;
            text-align: center;
            box-shadow: 0 1px 4px rgb(31, 29, 29);
         }
         /* border-bottom: 2px solid #f4f4f4; */
         
        }
    
}

.city-search {
    display: flex;
    height:50px;
    width: 50%;
    margin: auto;
    text-align:center;
    background-color: #eaeaea;
    border-radius: 40px;
    align-items: center;
    
    @media only screen and (max-width: 767px) {
        width:100%;
        border-radius: 0;
        justify-content: center;
}
  
}


input[type=text]{
    background-color: transparent;
    border: none;
    height: 100%;
    padding: 0px 12px;
    font-size: 18px;
    margin: auto;
    border-radius: 20px;
    width: 70%;

    &:focus {
        outline:none;
    }

    @media only screen and (max-width: 767px) {
        padding: 10px;
        text-align: center;
    }
}

.index-header {
    padding: 30px 10px;
    background: $fond;
    display: flex;
    align-items: center;
   flex-direction: column;
   text-align: center;

   p {
    margin-top: 10px;
    margin-bottom: 40px;
    font-weight: 300;
    padding: 0 15px;
    font-size: 18px;
   }

   H2 {
    margin: 0 20px;
    font-size: 30px;
   }
}


