
.header-menu {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: -50px;
    border-radius: 30px 30px 0 0;
    background-color: #F6F6F6;
    position: relative;

    .btn {
        margin: 50px auto;
        justify-content: center;
    }

    @media only screen and (max-width: 767px) {
        width: 100%;
        flex-direction: column;
       
    }
}

.fa-arrow-left { 
position: absolute;
left: 50px;
height: 30px;
top: 30px;
display: flex;
align-items: center;
justify-content: center;
/*transform: translateY(-50%);*/
font-size: 20px;

}



.photo-menu {
   
    padding-top: 0px;
    padding-bottom: 0px;
    
    img {
        object-fit: cover;
        width: 100%;
        max-height: 400px;
    }  
}


.menu-container {
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: flex-start;
    overflow: hidden;
    padding-bottom: 10px;

    @media only screen and (max-width: 767px) {
        flex-direction: column;
    }
}

.menu-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 30%;
    margin-top: 20px;
    padding: 0 10px;


    @media only screen and (max-width: 767px) {
        width: 100%;
        flex-direction: row;
        padding: 0;
    }
}



.title-menu {
    text-transform: uppercase;
    font-size: 24px;
    position:relative;
    font-weight: 300;

    &:after {
        content: "";
        width: 3rem;
        height: .25rem;
        background-color: $third-color;
        position: absolute;
        left: 0;
        margin-top: 30px;
    }

    @media only screen and (max-width: 767px) {
        left: 10px;
        margin-bottom: 20px;
        font-size: 20px;
    }
    
}

.menu-card {
    display: flex;
    width: 95%;
    /*padding: 10px;
    */background: #fff;
    border-radius:10px;
    margin: 10px 5px;
    padding: 10px;
    cursor: pointer;
    position: relative;
    justify-content: space-between;
    animation: plate-choice ease .6s;
    animation-fill-mode: both;
    overflow: hidden;
    /*@mediaonlyscreenand(max-width: 767px) *//*;
    -webkit-animation: plate-choice ease .6s;
{
        margin: 10px;
    }*/
    @include shadow;
    
}

.menu-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.menu-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.menu-price { 
    display: flex;
   /* justify-content: space-between;*/
    align-items: flex-end;
    font-weight: 700;
    width: 10%;
    padding: 0px 5px;
    margin-right: -10%;
}

.menu-description {
 font-weight: 200;
font-size:14px;
margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


.menu-selection {
    visibility:hidden;
}

.menu-card:hover .menu-price {
    animation: menu-confirmation ease 0.3s;
    animation-fill-mode:forwards;
    min-width: 50px;
    margin-right: 20px;
}

  .menu-card:hover .menu-selection  {
    visibility: visible;
    position: absolute;
    background:$third-color;
    border-radius: 0 10px 10px 0;
    right:0px;
    top: 0px;
    width: 50px;
    height:55px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    animation: menu-selection 0.5s;
    animation-fill-mode:forwards;
    overflow:hidden;
    -webkit-animation: menu-selection 0.5s;
}


.menu-card:hover .btn-circle {

    transition-duration: 0.5s;
    transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -o-transform:rotate(360deg);
 }


.btn-circle {
    color: #ffffff;
}

@for $i from 1 to 11 {
    .delai-#{$i} {
      animation: plate-choice 0.6s * $i;
      -webkit-animation: plate-choice 0.6s * $i;
}
  }