@keyframes menu-confirmation {
    0% {
      transform: translate(50px, 0);
    }
  
    40% {
      transform: translate(25px, 0);
    }
  
    70% {
      transform: translate(12px, 0);
    }
  
    100% {
      transform: translate(1px, 0);
    }
  }

  @keyframes plate-choice {
    0% {
      transform: translate(50px, 0);
    }
  
    20% {
      transform: translate(30px, 0);
    }
  
    40% {
      transform: translate(20px, 0);
    }
    60% {
      transform: translate(15px, 0);
    }
    80% {
      transform: translate(7px, 0);
    }
  
    100% {
      transform: translate(1px, 0);
    }
  }