@keyframes menu-selection {
  0% {
    transform: translate(50px, 0);
  }

  20% {
    transform: translate(30px, 0);
  }

  40% {
    transform: translate(20px, 0);
  }
  60% {
    transform: translate(15px, 0);
  }
  80% {
    transform: translate(7px, 0);
  }

  100% {
    transform: translate(1px, 0);
  }
}



@keyframes menu-confirmation {
    0% {
      transform: rotate(50px, 0);
      -webkit-transform: rotate(50px, 0);
      -moz-transform: rotate(50px, 0);
      -ms-transform: rotate(50px, 0);
      -o-transform: rotate(50px, 0);
}
  
    40% {
      transform: rotate(25px, 0);
      -webkit-transform: rotate(25px, 0);
      -moz-transform: rotate(25px, 0);
      -ms-transform: rotate(25px, 0);
      -o-transform: rotate(25px, 0);
}
  
    70% {
      transform: rotate(12px, 0);
      -webkit-transform: rotate(12px, 0);
      -moz-transform: rotate(12px, 0);
      -ms-transform: rotate(12px, 0);
      -o-transform: rotate(12px, 0);
}
  
    100% {
      transform: rotate(1px, 0);
      -webkit-transform: rotate(1px, 0);
      -moz-transform: rotate(1px, 0);
      -ms-transform: rotate(1px, 0);
      -o-transform: rotate(1px, 0);
}
  }



  

  @keyframes plate-choice {
    from {
      transform: scale(0.1);
    }
  
    to {
      transform: scale(1);
    }
  }

@keyframes loader {
    100% {
      opacity: 0;
      z-index: -10;
    }
  } 

@keyframes spin {to{transform: rotate(1turn)}}