body{
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    display: block;
    background-color: $fond;
}

a {
    text-decoration: none;
    color: black;
    :hover {
        color: black;
    }
    :visited {
        color: black;
    }
}

p {
    margin: 0;
}

.btn {
    background: $btn-background;
    color: white;
    border: none;
    text-align: center;
    width: 30%;
    padding: 15px 0px ;
    cursor: pointer;
    border-radius: 30px;
    font-size: 16px;
    text-decoration: none;
   

    
}

section {
    padding-top:50px;
    padding-bottom:50px;
}